/* .has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
} */

#slide-content {
  padding-top: 46px;
  /* background-color: rgb(17, 114, 131); */
  /* height: 600px; */
}

#content-slide-text {
  margin-top: 150px;
  margin-bottom: 150px;
}

#content-slide-text-description {
  opacity: 0.5;
}

#course-recommend {
  padding: 70px;
}

#course-popular {
  padding: 70px;
}

#course-trending {
  padding: 70px;
}

@media only screen and (max-width: 768px) {
	/*-- Courses --*/
	#courses-content [class*='card'] {
		width:100%;
	}
}
.link-footer {
  margin: 0 20px 0 20px;
}